:root {
  --text: #cad3f5;
  --text-0: #b8c0e0;
  --text-1: #a5adcb;
  --background: #24273a;
  --border: #181926;
  --overlay: #6e738d;
  --surface-2: #5b6078;
  --surface-1: #494d64;
  --surface-0: #363a4f;
}
